.header-text{
color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 5px;
font-weight: 600;
}
.BoldText{
    margin-top: 20px;
    font-size: 65px;
    color: white;
    position: relative;
    z-index: 3;
    
}
.BoldText1{
    margin-left: 90px;
}
.BoldText2{
    margin-left: 200px;
    position: relative;
    margin-top: -30px;
}
/* .video-section{
    width: 235px;
    height: 140px;
    background: transparent;
    border: 2px solid #ffffff;
    
    margin-left: 220px;
    margin-top: -60px;
    clip-path: polygon(
        0% 0%,        
        100% 0%,     
        100% 78%,     
        88% 100%,     
        0% 100%       
    );
} */

/* .video-section {
  width: 250px;
  height: 150px;
  position: absolute;
  margin-left: 220px;
    margin-top: -65px;
    z-index: 1;
    
}


.outline {
  position: absolute;
  top: 0;
  left: 0;
} */


.video-section {
  position: relative;
  width: 250px;
  height: 150px;
  cursor: pointer;
  margin-left: 220px;
  margin-top: -65px;
  overflow: hidden;
}

/* Video */
.video-section .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.5s ease;
  /* pointer-events: none; */
  clip-path: polygon(
    10px 10px,
    235px 10px,
    235px 110px,
    210px 140px,
    10px 140px
  );
  z-index: 1;
}

/* ON HOVER SHOW VIDEO */
.video-section:hover .video {
  opacity: 1;
}

/* SVG overlay */
.video-section svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

/* Dot */
.dot-square {
  fill: white;
  transition: opacity 0.3s ease;
}

/* Arrow inside SVG */
.arrow {
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateX(-8px); /* start slightly left */
}

/* Hover */
.video-section:hover .video {
  opacity: 1;
}

.video-section:hover .dot-square {
  opacity: 0;
}

.video-section:hover .arrow {
  opacity: 1;
  transform: translateX(0);
}


.video-section svg text {
  pointer-events: none;
}

.video-section:hover .outline .svgOutline {
  stroke-width: 0;
}

.video {
  pointer-events: auto; /* allow video to play */
}


/* description  */

.description{
    width: 400px;
    height: 250px;
    color: #FFFFFF;
    margin-left: 900px;
    margin-top: -32px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.paragraph1{
    line-height: 30px;
}
.paragraph2{
    line-height: 30px;
}
 