.page-loader {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Start from bottom */
  z-index: 9999999;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  /* padding-bottom: 40px;  */
  bottom: 0;
}

.page-loader.hide {
  opacity: 0;
  pointer-events: none;
}

.loader-logo {
  width: 100%;
  height: 700px;
  bottom: 0;
  opacity: 0.7;
  transform: translateY(150px) scale(0.5);  /* Bottom small */
  transition: transform 1.2s ease-out, opacity 1s ease-out;
}

.loader-logo.scale {
  transform: translateY(35vh) scale(1.3);  /* Move up + grow */
  opacity: 1;
}
