 .GlobalReach-heading h2 {
  font-weight: 700;
  line-height: 1.1;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.GlobalReach-heading .big {
  font-size: 70px;
}

.GlobalReach-heading .small {
  font-size: 50px;
}

.GlobalReach-heading {
  
  margin-top: 100px;       
  margin-left: 130px;
}

/* .images-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px 0;
} */

.NewYork {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 2; 
  margin: 20px 0;
}
.Fort-Lauderdale {
  position: absolute;
  top: 60%;   
  left: 75%;  
  transform: translate(-50%, -50%) rotate(10deg); 
  transform-origin: top left;
  z-index: 1; 
  transition: transform 0.5s ease;
}





