.talented-individuals-heading h2 {
  font-weight: 700;
  line-height: 1.1;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.talented-individuals-heading .big {
  font-size: 60px;
}

.talented-individuals-heading .small {
  font-size: 60px;
  font-weight: 400;
}

.talented-individuals-heading {
  width: 450;
  padding-top: 200px;       
  margin-left: 130px;
}
.talented-individuals{
    display: flex;
}

.Metric-Search-London-image1{
    margin-top: 110px;
    position: absolute;
    margin-left: 170px;
}
.Metric-Search-London{
    display: flex;
    position: relative;
}
.man-smiling{
    margin-top: 140px;
    /* margin-right: 100px; */
    margin-left: 230px;
}

.join-us-portion{
  position: relative;
}
.clapping-portion{
  position: absolute;
  margin-left: 180px;
  top: -200px;
  z-index: 1;
}
.join-us{
  position: absolute;
  z-index: 2;
  margin-left: 550px;
  top: -130px;
}

.three-people-post{
  position: absolute;
  margin-left: 100px;
  margin-top: 120px;
  z-index: 3;
}

.text-portion{
  display: inline-block;
  position: absolute;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* margin-left: 900px;
  margin-top: 300px; */
  right: 180px;
  top: 250px;
  z-index: 5;
}
.text-portion p{
  line-height: 27px;
}