*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
  /* position: relative; */
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.6) 100%),
    url(./images/video-preloader.jpg);
  background-size: cover;
  background-position: center;
  height: 120vh;
}
.Our-Specialisms{
  height: 140vh;
   background: linear-gradient(
    to bottom,
    #000212 90%,
    #000000 100%
  );
}
.About-us{
  height: 90vh;
  background: black;
}
.our-global-reach {
  height: 100vh;
  background: black;
   /* display: flex;          
  align-items: flex-start; */
  position: relative; 
  overflow: hidden; 
  width: 100%;
}
.thrive-talented-individuals{
  height: 170vh;
  background: black;
}
.footer-section{
  height: 100vh;
  background: black;
}
