.our-global-reach {
  height: 100vh;
  background: black;
  position: relative;
  overflow: hidden;
  width: 100%;

}
.GlobalReach-heading h2 {
  font-weight: 700;
  line-height: 1.1;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.GlobalReach-heading .big {
  font-size: 70px;
}

.GlobalReach-heading .small {
  font-size: 50px;
}

.GlobalReach-heading {
  margin-top: 100px;
  margin-left: 130px;
}

/* .GlobalReach {
  height: 100vh;
  position: relative;
  overflow: hidden;
} */
 .GlobalReach {
  height: 100%;
  position: relative;
}

.images-animation {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

/* IMPORTANT: yeh tumhari original positions waapas daal do */

.NewYork {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: 20px 0;
}

.Fort-Lauderdale {
  position: absolute;
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%) rotate(10deg);
  transform-origin: top left;
  z-index: 2;
}

.Austin {
  position: absolute;
  top: 70%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(20deg);
  transform-origin: top left;
  z-index: 3;
}

.sandiego {
  position: absolute;
  top: 80%;
  left: 125%;
  transform: translate(-50%, -50%) rotate(30deg);
  transform-origin: top left;
  z-index: 4;
}

.london {
  position: absolute;
  top: 90%;
  left: 150%;
  transform: translate(-50%, -50%) rotate(40deg);
  transform-origin: top left;
  z-index: 5;
}

.leeds {
  position: absolute;
  top: 100%;
  left: 175%;
  transform: translate(-50%, -50%) rotate(50deg);
  transform-origin: top left;
  z-index: 6;
}

.nottingham {
  position: absolute;
  top: 110%;
  left: 200%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: top left;
  z-index: 7;
}

/* YEH WALA PURA RULE DELETE KAR DO:
.images-animation.scroll-animate svg { ... }
*/
